<launch>
    
    <!-- Args and Params -->

    <!-- Robot instances -->
    <!-- Robot 1 -->
    <include file="$(find eng_rf)/launch/simulation/robot_ins.launch">
        <!-- Robot properties -->
        <arg name="robot_ns"    value="burger"/>
        <arg name="robot_md"    value="burger"/>
        <arg name="init_x"      value="-2"/>
        <arg name="init_y"      value="-3"/>
    </include>
    <!-- Robot 2 -->
    <include file="$(find eng_rf)/launch/simulation/robot_ins.launch">
        <!-- Robot properties -->
        <arg name="robot_ns"    value="waffle_pi"/>
        <arg name="robot_md"    value="waffle_pi"/>
        <arg name="init_x"      value="-3"/>
        <arg name="init_y"      value="-2"/>
    </include>
</launch>