<robot name="ar_tag">
    <link name="base_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.424"/>
            <inertia ixx="0.001416867" iyy="0.002826667" izz="0.001416867" ixy="0" ixz="0" iyz="0"/>
        </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.01"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://multitb3/models/ar_tag.dae"/>
            </geometry>
        </visual>
    </link>
    <gazebo reference="base_link">
        <kp value="100000"/>
        <kd value="100000"/>
        <mu1 value="0.1"/>
        <mu2 value="0.1"/>
        <fdir1 value="1 0 0"/>
    </gazebo>
</robot>
